.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__name
        -#ログイン中のuser名が表示されるよう、下記コードに変更
        = current_user.name
      .side-bar__header__box__icon
        -#editボタンで新規チャットグループ登録ページ（/groups/new）に遷移するよう、link_to先を変更
        .side-bar__header__box__icon__btn
          = link_to '/groups/new', class: "side-bar__header__box__icon__btn side-bar__header__box__icon__btn--edit" do
            = icon('fas', 'edit',  class: "side-bar__header__box__icon__btn--logo")
        -#cogボタンで編集ページに遷移するよう、link_to先を変更
        .side-bar__header__box__icon__btn
          = link_to edit_user_path(current_user), class: "side-bar__header__box__icon__btn side-bar__header__box__icon__btn--cog" do
            = icon('fas', 'cog',  class: "side-bar__header__box__icon__btn--logo")

  -#応用カリNo91にて、viewの調整でlink_toメソッドでGroup情報を取得しての表示に変更するため、コードを書き換え
  .side-bar__content
    -# .side-bar__content__group
    -#   .side-bar__content__group__name
    -#     グループ001
    -#   .side-bar__content__group__message
    -#     テスト入力001。
    -# .side-bar__content__group
    -#   .side-bar__content__group__name
    -#     グループ002
    -#   .side-bar__content__group__message
    -#     テスト入力002。
    -# .side-bar__content__group
    -#   .side-bar__content__group__name
    -#     グループ003
    -#   .side-bar__content__group__message
    -#     テスト入力003。
    - current_user.groups.each do |chatgroup|
      -#応用カリNo92にて、link_toメソッドのリンク先を下記のとおり書き換え
      -# .side-bar__content__group
      -#   = link_to '#' do
      .side-bar__content__group
        = link_to group_messages_path(chatgroup) do
          .side-bar__content__group__name
            = chatgroup.name
          -#応用カリNo92、最新メッセージの表示機能の実装にて、modelで定義したshow_last_messageメソッドで参照するコードに書き換え
          -# .side-bar__content__group__message
          -#   メッセージはまだありません
          .side-bar__content__group__message
            = chatgroup.show_last_message
