-#応用カリNo91にて、エラーメッセージ表示用のviewを、部分templateで作成

= form_with model: group, local: true do |f|
  -# .SettingGroupForm__errors
  -#   %h2 10件のエラーが発生しました
  -#   %ul
  -#     %li nameを入力してください

  -#上記の固定表示メッセージに代え、エラー数をカウントして表示する下記コードに書き換え
  - if group.errors.any?
    .SettingGroupForm__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message

  .SettingGroupForm__field
    .SettingGroupForm__leftField
      = f.label :name, "グループ名", class: 'SettingGroupForm__label'
    .SettingGroupForm__rightField
      = f.text_field :name, class: 'SettingGroupForm__input', placeholder: 'グループ名を入力してください'

  -#上記コードで表示される「グループ名」と同じ要素構成とするため、「.SettingGroupForm__field〜」などの記述は同じ
  .SettingGroupForm__field
    .SettingGroupForm__leftField
      %label.SettingGroupForm__label チャットメンバーを追加
    .SettingGroupForm__rightField
      / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
      -# = f.collection_check_boxes :user_ids, User.all, :id, :name
      -#応用カリNo109にて、インクリメンタルサーチ機能実装のため、上行を下行に書き換え
      .UserSearch
        %input#UserSearch__field.SettingGroupForm__input{placeholder: "追加したいユーザー名を入力してください", type: "text"}/
      #UserSearchResult
  -#応用カリNo109にて、インクリメンタルサーチ機能実装のため、下記コードを追記
  -#（上記コードで表示される「チャットメンバーを追加」と同じ要素構成とするため、「.SettingGroupForm__field〜」などの記述は同じ）
  .SettingGroupForm__field
    .SettingGroupForm__leftField
      = f.label :name, value: "チャットメンバー", class: "SettingGroupForm__label"
    .SettingGroupForm__rightField
      .ChatMembers
        -#応用No109にて、メンバー追加ボタンに対応するイベント、削除ボタンに対応するイベントのコードを追記
        -#class名「ChatMember」は、「Chat-Group-Member」に変えたので書き換え
        -# .ChatMember
        .Chat-Group-Member
          -# %p.ChatMember__name= current_user.name
          %p.Chat-Group-Member__name= current_user.name
          %input{name: "group[user_ids][]", type: "hidden", value: current_user.id}
        - group.users.each do |user|
          - if current_user.name != user.name
            -# .ChatMember
            .Chat-Group-Member
              -# %p.ChatMember__name
              %p.Chat-Group-Member__name
                = user.name
              -# .ChatMember__remove.ChatMember__button{"data-user-id": user.id, "data-user-name": user.name} 削除
              .Chat-Group-Member__remove.Chat-Group-Member__button{"data-user-id": user.id, "data-user-name": user.name} 削除
              %input{name: "group[user_ids][]", type:"hidden", value: user.id}
  
  / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
  .SettingGroupForm__field
    .SettingGroupForm__leftField
    .SettingGroupForm__rightField
      = f.submit class: 'SettingGroupForm__button'
